# Première analyse du jeu de données

## Importaiton des librairies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Chargement des données

In [2]:
data = pd.read_csv("./vgsales.csv")
data.head() # affichages des 5 premières observation des datas

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
data.info() # information générale du DataSet

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [4]:
data["Year"] = data["Year"].astype(pd.Int32Dtype()) # conversion dtype colonne float64 en int32 (Int32Dtype prend en charge les NaN)

In [5]:
print(data.info())
print("===================")
print(data["Year"])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  Int32
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: Int32(1), float64(5), int64(1), object(4)
memory usage: 1.3+ MB
None
===================
0        2006
1        1985
2        2008
3        2009
4        1996
         ...
16593    2002
16594    2003
16595    2008
16596    2010
16597    2003
Name: Year, Length: 16598, dtype: Int32

## Extraction des années et formatage (AAAA-MM-DD)

In [6]:
year = data["Year"].unique()

In [7]:
year = np.sort(year[~np.isnan(year)])
# year = np.datetime64(year.astype("str"))
print(year)

[1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993
 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2020]

In [8]:
# np.savetxt('annees.csv', year, delimiter=",")

In [9]:
# year = pd.DataFrame(year.astype("str"), columns = ["year"])
# year.to_csv("annees.csv", index=False, header=False)

## Création du fichier csv pour la bdd

In [10]:
calendar = pd.DataFrame(year.copy().astype("str"), columns=["year"])

In [11]:
calendar["month"] = "01"
calendar["day"] = "01"

In [12]:
calendar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39 entries, 0 to 38
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   year    39 non-null     object
 1   month   39 non-null     object
 2   day     39 non-null     object
dtypes: object(3)
memory usage: 1.0+ KB

In [13]:
annees = pd.to_datetime(calendar).astype("str").rename("id_calendrier")

In [14]:
annees.to_csv("./CSV_2DB/annees.csv", index=False, header=True)
# annees.index +=1

In [15]:
jeux = data.copy()

# year = np.sort(year[~np.isnan(year)])
year_kv = dict((k, v) for v, k in zip(annees, year))
# year_kv_formated = dict((k, v) for v, k in enumerate(annees, 1))
year_kv

{1980: '1980-01-01',
 1981: '1981-01-01',
 1982: '1982-01-01',
 1983: '1983-01-01',
 1984: '1984-01-01',
 1985: '1985-01-01',
 1986: '1986-01-01',
 1987: '1987-01-01',
 1988: '1988-01-01',
 1989: '1989-01-01',
 1990: '1990-01-01',
 1991: '1991-01-01',
 1992: '1992-01-01',
 1993: '1993-01-01',
 1994: '1994-01-01',
 1995: '1995-01-01',
 1996: '1996-01-01',
 1997: '1997-01-01',
 1998: '1998-01-01',
 1999: '1999-01-01',
 2000: '2000-01-01',
 2001: '2001-01-01',
 2002: '2002-01-01',
 2003: '2003-01-01',
 2004: '2004-01-01',
 2005: '2005-01-01',
 2006: '2006-01-01',
 2007: '2007-01-01',
 2008: '2008-01-01',
 2009: '2009-01-01',
 2010: '2010-01-01',
 2011: '2011-01-01',
 2012: '2012-01-01',
 2013: '2013-01-01',
 2014: '2014-01-01',
 2015: '2015-01-01',
 2016: '2016-01-01',
 2017: '2017-01-01',
 2020: '2020-01-01'}

In [16]:
jeux["Year"] = jeux["Year"].replace(year_kv)
# jeux["Year"] = jeux["Year"].replace(year_kv_formated)

In [17]:
jeux

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006-01-01,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985-01-01,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008-01-01,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009-01-01,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996-01-01,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37
...,...,...,...,...,...,...,...,...,...,...,...
16593,16596,Woody Woodpecker in Crazy Castle 5,GBA,2002-01-01,Platform,Kemco,0.01,0.00,0.00,0.00,0.01
16594,16597,Men in Black II: Alien Escape,GC,2003-01-01,Shooter,Infogrames,0.01,0.00,0.00,0.00,0.01
16595,16598,SCORE International Baja 1000: The Official Game,PS2,2008-01-01,Racing,Activision,0.00,0.00,0.00,0.00,0.01
16596,16599,Know How 2,DS,2010-01-01,Puzzle,7G//AMES,0.00,0.01,0.00,0.00,0.01
16597,16600,Spirits & Spells,GBA,2003-01-01,Platform,Wanadoo,0.01,0.00,0.00,0.00,0.01

In [18]:
# LOAD DATA LOCAL INFILE './annees.csv' 
# INTO TABLE calendrier
# FIELDS TERMINATED BY ','
# ENCLOSED BY '"'
# LINES TERMINATED BY '\n'
# IGNORE 1 ROWS;

## Extraction "Plateform" vers un CSV

In [19]:
console = data["Platform"].unique() # Extraction des valeurs console unique
console = np.sort(console) # Trie des valeurs
console

array(['2600', '3DO', '3DS', 'DC', 'DS', 'GB', 'GBA', 'GC', 'GEN', 'GG',
       'N64', 'NES', 'NG', 'PC', 'PCFX', 'PS', 'PS2', 'PS3', 'PS4', 'PSP',
       'PSV', 'SAT', 'SCD', 'SNES', 'TG16', 'WS', 'Wii', 'WiiU', 'X360',
       'XB', 'XOne'], dtype=object)

In [20]:
console_kv = dict((k, v) for v, k in enumerate(console, 1)) # mise des données sous forme de dictionnaire
print(console_kv)

{'2600': 1, '3DO': 2, '3DS': 3, 'DC': 4, 'DS': 5, 'GB': 6, 'GBA': 7, 'GC': 8, 'GEN': 9, 'GG': 10, 'N64': 11, 'NES': 12, 'NG': 13, 'PC': 14, 'PCFX': 15, 'PS': 16, 'PS2': 17, 'PS3': 18, 'PS4': 19, 'PSP': 20, 'PSV': 21, 'SAT': 22, 'SCD': 23, 'SNES': 24, 'TG16': 25, 'WS': 26, 'Wii': 27, 'WiiU': 28, 'X360': 29, 'XB': 30, 'XOne': 31}

In [21]:
jeux["Platform"] = jeux["Platform"].replace(console_kv)

In [22]:
console = pd.Series(console, name="nom_console")
console.to_csv("./CSV_2DB/consoles.csv", index=False, header=True)

## Extraction "Genre" vers un CSV

In [23]:
genre = data["Genre"].unique() # Extraction des valeurs console unique
genre = np.sort(genre) # Trie des valeurs
genre

array(['Action', 'Adventure', 'Fighting', 'Misc', 'Platform', 'Puzzle',
       'Racing', 'Role-Playing', 'Shooter', 'Simulation', 'Sports',
       'Strategy'], dtype=object)

In [24]:
genre_kv = dict((k, v) for v, k in enumerate(genre, 1)) # mise des données sous forme de dictionnaire
print(genre_kv)

{'Action': 1, 'Adventure': 2, 'Fighting': 3, 'Misc': 4, 'Platform': 5, 'Puzzle': 6, 'Racing': 7, 'Role-Playing': 8, 'Shooter': 9, 'Simulation': 10, 'Sports': 11, 'Strategy': 12}

In [25]:
jeux["Genre"] = jeux["Genre"].replace(genre_kv)

In [26]:
genre = pd.Series(genre, name="nom_genre")
genre.to_csv("./CSV_2DB/genres.csv", index=False, header=True)

## Extraction "Publisher" vers un CSV

In [27]:
editeur = data["Publisher"].unique() # Extraction des valeurs console unique
editeur = [x for x in editeur if str(x) != 'nan']
editeur = np.sort(editeur) # Trie des valeurs
editeur

array(['10TACLE Studios', '1C Company', '20th Century Fox Video Games',
       '2D Boy', '3DO', '49Games', '505 Games', '5pb', '7G//AMES',
       '989 Sports', '989 Studios', 'AQ Interactive', 'ASC Games',
       'ASCII Entertainment', 'ASCII Media Works', 'ASK', 'Abylight',
       'Acclaim Entertainment', 'Accolade', 'Ackkstudios', 'Acquire',
       'Activision', 'Activision Blizzard', 'Activision Value',
       'Adeline Software', 'Aerosoft', 'Agatsuma Entertainment', 'Agetec',
       'Aksys Games', 'Alawar Entertainment', 'Alchemist',
       'Alternative Software', 'Altron', 'Alvion', 'American Softworks',
       'Angel Studios', 'Answer Software', 'Aqua Plus', 'Aques',
       'Arc System Works', 'Arena Entertainment', 'Aria', 'Arika',
       'ArtDink', 'Aruze Corp', 'Ascaron Entertainment',
       'Ascaron Entertainment GmbH', 'Asgard', 'Asmik Ace Entertainment',
       'Asmik Corp', 'Aspyr', 'Astragon', 'Asylum Entertainment', 'Atari',
       'Athena', 'Atlus', 'Avalon Interactive', 'Avanquest',
       'Avanquest Software', 'Axela', 'BAM! Entertainment',
       'BMG Interactive Entertainment', 'BPS', 'Banpresto', 'Benesse',
       'Berkeley', 'Bethesda Softworks', 'Big Ben Interactive',
       'Big Fish Games', 'Bigben Interactive', 'Black Bean Games',
       'Black Label Games', 'Blast! Entertainment Ltd', 'Blue Byte',
       'Bohemia Interactive', 'Bomb', 'Boost On', 'Brash Entertainment',
       'Broccoli', 'BushiRoad', 'CBS Electronics', 'CCP',
       'CDV Software Entertainment', 'CPG Products', 'CTO SpA', 'Capcom',
       'Cave', 'ChunSoft', 'City Interactive',
       'Cloud Imperium Games Corporation', 'Coconuts Japan',
       'Codemasters', 'Codemasters Online', 'CokeM Interactive', 'Coleco',
       'Comfort', 'Commseed', 'Compile', 'Compile Heart',
       'Conspiracy Entertainment', 'Core Design Ltd.',
       'Crave Entertainment', 'Creative Core', 'Crimson Cow',
       'Crystal Dynamics', 'Culture Brain', 'Culture Publishers',
       'CyberFront', 'Cygames', 'D3Publisher', 'DHM Interactive',
       'DSI Games', 'DTP Entertainment', 'Daedalic',
       'Daedalic Entertainment', 'Daito', 'Data Age',
       'Data Design Interactive', 'Data East', 'Datam Polystar',
       'Deep Silver', 'Destination Software, Inc', 'Destineer',
       'Detn8 Games', 'Devolver Digital', 'DigiCube',
       'Disney Interactive Studios', 'Dorart', 'DreamCatcher Interactive',
       'DreamWorks Interactive', 'Dusenberry Martin Racing', 'EA Games',
       'EON Digital Entertainment', 'ESP', 'Easy Interactive', 'Ecole',
       'Edia', 'Eidos Interactive', 'Electronic Arts',
       'Electronic Arts Victor', 'Elf', 'Elite', 'Empire Interactive',
       'Encore', 'Enix Corporation', 'Enjoy Gaming ltd.', 'Enterbrain',
       'Epic Games', 'Epoch', 'Ertain', 'Essential Games',
       'Evolution Games', 'Evolved Games', 'Excalibur Publishing',
       'Experience Inc.', 'Extreme Entertainment Group',
       'Falcom Corporation', 'Fields', 'Flashpoint Games', 'Flight-Plan',
       'Focus Home Interactive', 'Focus Multimedia',
       'Foreign Media Games', 'Fortyfive', 'Fox Interactive',
       'From Software', 'FuRyu', 'FuRyu Corporation', 'Fuji', 'FunSoft',
       'Funbox Media', 'Funcom', 'Funsta', 'G.Rev', 'GN Software', 'GOA',
       'GSP', 'GT Interactive', 'Gaga', 'Gainax Network Systems',
       'Gakken', 'Game Arts', 'Game Factory', 'Game Life',
       'GameMill Entertainment', 'GameTek', 'Gamebridge', 'Gamecock',
       'Gameloft', 'Gathering of Developers', 'General Entertainment',
       'Genki', 'Genterprise', 'Ghostlight', 'Giga', 'Giza10', 'Glams',
       'Global A Entertainment', 'Global Star', 'Gotham Games',
       'Graffiti', 'Grand Prix Games', 'Graphsim Entertainment',
       'Gremlin Interactive Ltd', 'Griffin International', 'Groove Games',
       'GungHo', 'Gust', 'HAL Laboratory', 'HMH Interactive', 'Hackberry',
       'Hamster Corporation', 'Happinet', 'Harmonix Music Systems',
       'Hasbro Interactive', 'Havas Interactive', 'Headup Games',
       'Hearty Robin', 'Hect', 'Hello Games', 'Her Interactive',
       'Hip Interactive', 'Home Entertainment Suppliers',
       'Hudson Entertainment', 'Hudson Soft', 'Human Entertainment',
       'HuneX', 'IE Institute', 'ITT Family Games', 'Iceberg Interactive',
       'Idea Factory', 'Idea Factory International',
       'Ignition Entertainment', 'Illusion Softworks', 'Imadio',
       'Image Epoch', 'Imageworks', 'Imagic', 'Imagineer', 'Imax',
       'Indie Games', 'Infogrames', 'Insomniac Games', 'Interchannel',
       'Interchannel-Holon', 'Intergrow', 'Interplay',
       'Interplay Productions', 'Interworks Unlimited, Inc.',
       'Inti Creates', 'Introversion Software',
       'Irem Software Engineering', 'Ivolgamus', 'JVC',
       'Jack of All Games', 'Jaleco', 'Jester Interactive',
       'JoWood Productions', 'Jorudan', 'Just Flight', 'KID', 'KSS',
       'Kadokawa Games', 'Kadokawa Shoten', 'Kaga Create',
       'Kalypso Media', 'Kamui', 'Kando Games', 'Karin Entertainment',
       'Kemco', 'Kids Station', 'King Records', 'Knowledge Adventure',
       'Koch Media', 'Kokopeli Digital Studios',
       'Konami Digital Entertainment', 'Kool Kizz', 'LEGO Media',
       'LSP Games', 'Laguna', 'Legacy Interactive', 'Level 5',
       'Lexicon Entertainment', 'Licensed 4U', 'Lighthouse Interactive',
       'Liquid Games', 'Little Orbit', 'Locus', 'LucasArts',
       'MC2 Entertainment', 'MLB.com', 'MTO', 'MTV Games', 'Mad Catz',
       'Magical Company', 'Magix', 'Majesco Entertainment', 'Mamba Games',
       'Marvel Entertainment', 'Marvelous Entertainment',
       'Marvelous Games', 'Marvelous Interactive', 'Masque Publishing',
       'Mastertronic', 'Mastiff', 'Mattel Interactive', 'Max Five',
       'Maximum Family Games', 'Maxis', 'Media Entertainment',
       'Media Factory', 'Media Rings', 'Media Works', 'MediaQuest',
       'Men-A-Vision', 'Mentor Interactive', 'Mercury Games',
       'Merscom LLC', 'Metro 3D', 'Michaelsoft', 'Micro Cabin',
       'Microids', 'Microprose', 'Microsoft Game Studios',
       'Midas Interactive Entertainment', 'Midway Games', 'Milestone',
       'Milestone S.r.l', 'Milestone S.r.l.', 'Minato Station',
       'Mindscape', 'Mirai Shounen', 'Misawa', 'Mitsui', 'Mojang',
       'Monte Christo Multimedia', 'Moss', 'Mud Duck Productions',
       'Mumbo Jumbo', 'Mycom', 'Myelin Media', 'Mystique', 'NCS',
       'NCSoft', 'NDA Productions', 'NEC', 'NEC Interchannel',
       'Namco Bandai Games', 'Natsume', 'Navarre Corp', 'Naxat Soft',
       'Neko Entertainment', 'NetRevo', 'New', 'New World Computing',
       'NewKidCo', 'Nexon', 'Nichibutsu', 'Nihon Falcom Corporation',
       'Nintendo', 'Nippon Amuse', 'Nippon Columbia',
       'Nippon Ichi Software', 'Nippon Telenet', 'Nitroplus', 'Nobilis',
       'Nordcurrent', 'Nordic Games', 'NovaLogic', 'Number None',
       'O-Games', 'O3 Entertainment', 'Ocean', 'Office Create',
       'On Demand', 'Ongakukan', 'Origin Systems', 'Otomate',
       'Oxygen Interactive', 'P2 Games', 'PM Studios', 'PQube',
       'Pacific Century Cyber Works', 'Pack In Soft', 'Pack-In-Video',
       'Palcom', 'Panther Software', 'Paon', 'Paon Corporation',
       'Paradox Development', 'Paradox Interactive', 'Parker Bros.',
       'Performance Designed Products', 'Phantagram', 'Phantom EFX',
       'Phenomedia', 'Phoenix Games', 'Piacci', 'Pinnacle', 'Pioneer LDC',
       'Play It', 'PlayV', 'Playlogic Game Factory', 'Playmates',
       'Playmore', 'Plenty', 'Pony Canyon', 'PopCap Games',
       'PopTop Software', 'Popcorn Arcade', 'Pow', 'Princess Soft',
       'Prototype', 'Psygnosis', 'Quelle', 'Quest', 'Quinrose', 'Quintet',
       'RED Entertainment', 'RTL', 'Rage Software', 'Rain Games',
       'Rebellion', 'Rebellion Developments', 'Red Orb',
       'Red Storm Entertainment', 'RedOctane', 'Reef Entertainment',
       'Revolution (Japan)', 'Revolution Software', 'Rising Star Games',
       'Riverhillsoft', 'Rocket Company', 'Rondomedia', 'Russel',
       'SCS Software', 'SCi', 'SNK', 'SNK Playmore', 'SPS', 'SSI',
       'Sammy Corporation', 'Saurus', 'Scholastic Inc.', 'Screenlife',
       'Sears', 'Sega', 'Seta Corporation', 'Seventh Chord', 'Shogakukan',
       'Simon & Schuster Interactive', 'Slightly Mad Studios',
       'Slitherine Software', 'Societa', 'Sold Out', 'Sonnet',
       'Sony Computer Entertainment',
       'Sony Computer Entertainment America',
       'Sony Computer Entertainment Europe', 'Sony Music Entertainment',
       'Sony Online Entertainment', 'SouthPeak Games', 'Spike', 'Square',
       'Square EA', 'Square Enix', 'SquareSoft', 'Stainless Games',
       'Starfish', 'Starpath Corp.', 'Sting', 'Storm City Games',
       'Strategy First', 'Success', 'Summitsoft', 'Sunflowers',
       'Sunrise Interactive', 'Sunsoft', 'Sweets', 'Swing! Entertainment',
       'Syscom', 'System 3', 'System 3 Arcade Software', 'System Soft',
       'T&E Soft', 'TDK Core', 'TDK Mediactive', 'TGL', 'THQ', 'TOHO',
       'TYO', 'Taito', 'Takara', 'Takara Tomy', 'Take-Two Interactive',
       'Takuyo', 'TalonSoft', 'Team17 Software', 'TechnoSoft',
       'Technos Japan Corporation', 'Tecmo Koei', 'Telegames',
       'Telltale Games', 'Telstar', 'Tetris Online',
       'The Adventure Company', 'The Learning Company', 'Tigervision',
       'Time Warner Interactive', 'Titus', 'Tivola', 'Tommo',
       'Tomy Corporation', 'TopWare Interactive', 'Touchstone',
       'Tradewest', 'Trion Worlds', 'Tripwire Interactive',
       'Tru Blu Entertainment', 'Tryfirst', 'Type-Moon', 'U.S. Gold',
       'UEP Systems', 'UFO Interactive', 'UIG Entertainment', 'Ubisoft',
       'Ubisoft Annecy', 'Ultravision', 'Universal Gamex',
       'Universal Interactive', 'Unknown', 'Valcon Games', 'ValuSoft',
       'Valve', 'Valve Software', 'Vap', 'Vatical Entertainment',
       'Vic Tokai', 'Victor Interactive', 'Video System', 'Views',
       'Vir2L Studios', 'Virgin Interactive', 'Virtual Play Games',
       'Visco', 'Vivendi Games', 'Wanadoo', 'Warashi', 'Wargaming.net',
       'Warner Bros. Interactive Entertainment', 'Warp',
       'WayForward Technologies', 'Westwood Studios',
       'White Park Bay Software', 'Wizard Video Games', 'XS Games',
       'Xicat Interactive', 'Xing Entertainment', 'Xplosiv',
       'Xseed Games', 'Yacht Club Games', 'Yamasa Entertainment', 'Yeti',
       "Yuke's", 'Yumedia', 'Zenrin', 'Zoo Digital Publishing',
       'Zoo Games', 'Zushi Games', 'bitComposer Games', 'dramatic create',
       'fonfun', 'iWin', 'id Software', 'imageepoch Inc.',
       'inXile Entertainment', 'mixi, Inc', 'responDESIGN'], dtype='<U38')

In [28]:
editeur_kv = dict((k, v) for v, k in enumerate(editeur, 1)) # mise des données sous forme de dictionnaire

In [29]:
jeux["Publisher"] = jeux["Publisher"].replace(editeur_kv).astype(pd.Int32Dtype())

In [30]:
jeux = jeux.drop(columns=["Rank"])

In [32]:
jeux = jeux[["Name", "NA_Sales", "EU_Sales", "JP_Sales", "Other_Sales", "Global_Sales", "Year", "Platform", "Genre", "Publisher"]]
jeux = jeux.rename(columns={"Name" : "nom_jeu", "NA_Sales" : "na_vente_jeu", "EU_Sales" : "eu_vente_jeu", "JP_Sales" : "jp_vente_jeu", "Other_Sales" : "autre_vente_jeu", "Global_Sales" : "global_vente_jeu", "Year" : "id_calendrier", "Platform" : "id_console", "Genre" : "id_genre", "Publisher" : "id_editeur"})

KeyError: "None of [Index(['Name', 'NA_Sales', 'EU_Sales', 'JP_Sales', 'Other_Sales',\n       'Global_Sales', 'Year', 'Platform', 'Genre', 'Publisher'],\n      dtype='object')] are in the [columns]"

In [33]:
jeux.index += 1
jeux.to_csv("./CSV_2DB/jeux.csv", index=True, header=True)