# Première analyse du jeu de données

## Importaiton des librairies

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

## Chargement des données

In [2]:
data = pd.read_csv("./vgsales.csv")
data.head() # affichages des 5 premières observation des datas

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

In [3]:
data.info() # information générale du DataSet

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16598 entries, 0 to 16597
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Rank          16598 non-null  int64
 1   Name          16598 non-null  object
 2   Platform      16598 non-null  object
 3   Year          16327 non-null  float64
 4   Genre         16598 non-null  object
 5   Publisher     16540 non-null  object
 6   NA_Sales      16598 non-null  float64
 7   EU_Sales      16598 non-null  float64
 8   JP_Sales      16598 non-null  float64
 9   Other_Sales   16598 non-null  float64
 10  Global_Sales  16598 non-null  float64
dtypes: float64(6), int64(1), object(4)
memory usage: 1.4+ MB

In [4]:
year = data["Year"].unique()

In [5]:
year = np.sort(year[~np.isnan(year)].astype("int"))
# year = np.datetime64(year.astype("str"))
print(year)

[1980 1981 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993
 1994 1995 1996 1997 1998 1999 2000 2001 2002 2003 2004 2005 2006 2007
 2008 2009 2010 2011 2012 2013 2014 2015 2016 2017 2020]

In [6]:
# np.savetxt('annees.csv', year, delimiter=",")

In [9]:
year = pd.DataFrame(year.astype("str"), columns = ["year"])
year.to_csv("annees.csv", index=False, header=False)

In [10]:
calendar = year.copy()

In [13]:
calendar["month"] = "01"
calendar["day"] = "01"

In [23]:
annees = pd.to_datetime(calendar).astype("str")

pandas.core.series.Series

In [21]:
annees.to_csv("annees.csv", index=False, header=False)